  .lichaam {
    background-color: rgba(9, 156, 248, 0.7);
    min-height: 100%;
  }

  ::-webkit-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  :-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  ::-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  .formerize-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }

  .ui.horizontal.segments {
    background: lightskyblue;
    margin: 0%;
  }

  .ui.segment p {
    padding-top: 12px;
  }

  .ui.fluid.container {
    margin-top: 30px;
  }

  .ui.center.aligned.grid {
    margin-top: 30px;
    padding-bottom: 50px;
  }