  .lichaam {
    background-color: rgba(9, 156, 248, 0.7);
    min-height: 100%;
  }

  ::-webkit-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  :-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  ::-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }
  
  .formerize-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
  }

  .ui.horizontal.segments {
    margin-top: 52.6px;
    background: lightskyblue;
  }

  .ui.segment p {
    padding-top: 12px;
  }