<div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class="achtergrond">
    <div class='c'>
        <div class='_404'>U BENT SUCCESVOL AFGEMELD</div>
        <div class='_1'>U WORDT ZO METEEN DOORVERWEZEN NAAR DE HOME PAGINA</div>
        <div class='_2'>GEBEURT DIT NIET AUTOMATISCH? KLIK DAN OP DE KNOP HIERONDER</div>
        <button class="ui large secondary button" routerLink="/gift/list">TERUG NAAR GIFTS</button>
    </div>
</div>