<div class="lichaam">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui image header">
        <img class="image" src="/assets/giftbox.png">
        <div class="content">{{gift.naam}}</div>
      </h2>
      <form class="ui segment form" [formGroup]='giftFG'>

        <div class="two fields">
          <div class="field">
            <label class="ui center aligned" for="naam">Naam:</label>
            <input id="naam" name="naam" placeholder="Gift naam" value="kaka" #naamgift formControlName='naam' readonly>
          </div>
          <div class="field">
            <label for="prijs">Prijs:</label>
            <input id="prijs" name="prijs" placeholder="Gift prijs" #prijsgift formControlName='prijs' readonly>
          </div>
        </div>

        <div class="field">
          <label for="beschrijving">Beschrijving:</label>
          <textarea id="beschrijving" name="beschrijving" rows="2" placeholder="Gift beschrijving" #beschrijvinggift formControlName='beschrijving'
            readonly></textarea>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Toegevoegd op {{gift.aanmaakdatum | date: 'dd/MM/yyyy'}} door:</label>
            <input id="eigenaar" name="eigenaar" placeholder="Naam van de eigenaar" value="{{gift.eigenaar}}" readonly>
          </div>
          <div class="field">
            <label>Aantal hartjes:</label>
            <div class="ui action input">
              <input placeholder="Aantal hartjes" value="{{gift.likes.length}}" readonly>
              <button *ngIf='(currentUser && gift.eigenaar !== currentUser && lietLikeAchter)' class="right floated red ui icon button"
                (click)="giftUnliken()">
                <i class="heart icon"></i>
              </button>
              <button *ngIf='(currentUser && gift.eigenaar !== currentUser && !lietLikeAchter)' class="right floated ui icon button" (click)="giftLiken()">
                <i class="heart icon"></i>
              </button>
            </div>
          </div>
        </div>

        <div *ngIf='(gift.categorieen && gift.categorieen.length !== 0)' class="field">
          <div class="two fields">
            <div class="field">
              <label for="categorie_naam">Categorie:</label>
            </div>
            <div class="field">
              <label for="categorie_naam">Soort categorie:</label>
            </div>
          </div>
          <app-categorie *ngFor='let cat of gift.categorieen' [categorie]='cat'></app-categorie>
        </div>

      </form>

      <div class="ui horizontal segments">
        <div class="ui segment">
          <a class="item" href="https://www.google.com/search?q={{maakLink}}">
            <i class="large google icon"></i> Google</a>
        </div>
        <div class="ui segment">
          <a class="item" href="https://www.bol.com/nl/s/algemeen/zoekresultaten/Ntt/{{maakLink}}">
            <i class="large bold icon"></i> Bol.com</a>
        </div>
        <div class="ui segment">
          <a class="item" href="https://www.amazon.de/s/ref=nb_sb_noss?__mk_nl_NL=%C3%85M%C3%85%C5%BD%C3%95%C3%91
              &url=search-alias%3Daps&field-keywords={{maakLink}}">
            <i class="large amazon icon"></i> Amazon</a>
        </div>
      </div>
    </div>
  </div>
</div>