<div class="lichaam">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui image header">
        <img class="image" src="/assets/giftbox.png">
        <div class="content">Voeg jouw gift idee toe:</div>
      </h1>
      <form class="ui segment form" [formGroup]='gift' (ngSubmit)='onSubmit()'>

        <div class="field">
          <label class="ui center aligned" for="naam">Naam:</label>
          <input id="naam" name="naam" placeholder="Gift naam" #naamnieuwegift formControlName='naam' data-test="giftNaam">
          <div *ngIf='gift.get("naam").errors?.required && gift.get("naam").touched' class='ui pointing red basic label'>
            Naam is een verplicht veld
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("naam").errors?.minlength && gift.get("naam").touched'>
            De naam is te kort, gelieve minstens {{gift.get("naam").errors?.minlength.requiredLength}} karakters te gebruiken (momenteel
            {{gift.get("naam").errors?.minlength.actualLength}} karakter(s))
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("naam").errors?.maxlength && gift.get("naam").touched'>
            De naam is te lang, gelieve maximaal {{gift.get("naam").errors?.maxlength.requiredLength}} karakters te gebruiken (momenteel
            {{gift.get("naam").errors?.maxlength.actualLength}} karakters)
          </div>
        </div>

        <div class="field">
          <label for="beschrijving">Beschrijving:</label>
          <input id="beschrijving" name="beschrijving" placeholder="Gift beschrijving" #beschrijvingnieuwegift formControlName='beschrijving' data-test="giftBeschrijving">
          <div *ngIf='gift.get("beschrijving").errors?.required && gift.get("beschrijving").touched' class='ui pointing red basic label'>
            Beschrijving is een verplicht veld
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("beschrijving").errors?.minlength && gift.get("beschrijving").touched'>
            De beschrijving is te kort, gelieve minstens {{gift.get("beschrijving").errors?.minlength.requiredLength}} karakters te gebruiken
            (momenteel {{gift.get("beschrijving").errors?.minlength.actualLength}} karakter(s))
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("beschrijving").errors?.maxlength && gift.get("beschrijving").touched'>
            De beschrijving is te lang, gelieve maximaal {{gift.get("beschrijving").errors?.maxlength.requiredLength}} karakters te gebruiken
            (momenteel {{gift.get("beschrijving").errors?.maxlength.actualLength}} karakters)
          </div>
        </div>

        <div class="field">
          <label for="prijs">Prijs:</label>
          <input id="prijs" name="prijs" placeholder="Gift prijs" #prijsnieuwegift formControlName='prijs' data-test="giftPrijs">
          <div *ngIf='gift.get("prijs").errors?.required && gift.get("prijs").touched' class='ui pointing red basic label'>
            Prijs is een verplicht veld
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("prijs").errors?.min && gift.get("prijs").touched'>
            Het bedrag is te klein, gelieve minstens een bedrag van € 1 te kiezen
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("prijs").errors?.max && gift.get("prijs").touched'>
            Het bedrag is te groot, gelieve maximaal een bedrag van € 9999 te kiezen
          </div>
          <div class='ui pointing red basic label' *ngIf='gift.get("prijs").errors?.pattern && gift.get("prijs").touched'>
            De ingevoerde waarde is geen geldige prijs. Gelieve enkel cijfers te gebruiken (geen punt, geen komma, geen €, ...)
          </div>
        </div>

        <div class="field">
          <label for="categorie_naam">Categoriëen:</label>
          <div formArrayName='categorieen' *ngFor='let item of formData.controls; let i = index'>
            <div [formGroupName]='i'>
              <div class='two fields'>
                <div class="field">
                  <select id="categorie_naam" formControlName='categorienaam' data-test="categorieNaam">
                    <option *ngFor='let type of categorieLijst' [value]='type'>
                      {{type}}
                    </option>
                  </select>
                </div>
                <div class="field">
                  <select id="categorie_soort" formControlName='soort' data-test="categorieSoort">
                    <option *ngFor='let type of soortTypes' [value]='type'>
                      {{type}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="ui fluid large primary button" type="submit" data-test="voegGiftToeBtn">
          Voeg gift idee toe
        </button>
      </form>
    </div>
  </div>
</div>

<!--REMOVE {{ gift.value | json }}
<br> {{ gift.get("naam").errors | json }}
<br> {{ gift.valid }} -->