<div class="lichaam">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui image header">
        <img class="image" src="/assets/giftbox.png">
        <div class="content">Voeg jouw gift idee toe:</div>
      </h1>
      <form class="ui segment form" [formGroup]='gift' (ngSubmit)='onSubmit()'>

        <div class="field">
          <label class="ui center aligned" for="naam">Naam:</label>
          <input id="naam" name="naam" placeholder="Gift naam" #naamnieuwegift formControlName='naam'>
          <div *ngIf='gift.get("naam").errors?.required && gift.get("naam").touched' class='ui pointing red basic label'>
            Naam is een verplicht veld
          </div>
        </div>

        <div class="field">
          <label for="beschrijving">Beschrijving:</label>
          <input id="beschrijving" name="beschrijving" placeholder="Gift beschrijving" #beschrijvingnieuwegift formControlName='beschrijving'>
          <div *ngIf='gift.get("beschrijving").errors?.required && gift.get("beschrijving").touched' class='ui pointing red basic label'>
            Beschrijving is een verplicht veld
          </div>
        </div>

        <div class="field">
          <label for="prijs">Prijs:</label>
          <input id="prijs" name="prijs" placeholder="Gift prijs" #prijsnieuwegift formControlName='prijs'>
          <div *ngIf='gift.get("prijs").errors?.required && gift.get("prijs").touched' class='ui pointing red basic label'>
            Prijs is een verplicht veld
          </div>
        </div>

        <div class="field">
          <label for="categorie_naam">Categoriëen:</label>
          <div formArrayName='categorieen' *ngFor='let item of gift.get("categorieen").controls; let i = index'>
            <div [formGroupName]='i'>
              <div class='two fields'>
                <div class="field">
                  <select id="categorie_naam" formControlName='categorienaam'>
                    <option *ngFor='let type of categorieLijst' [value]='type'>
                      {{type}}
                    </option>
                  </select>
                </div>
                <div class="field">
                  <select id="categorie_soort" formControlName='soort'>
                    <option *ngFor='let type of soortTypes' [value]='type'>
                      {{type}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="ui fluid large primary button" type="submit">
          Voeg gift idee toe
        </button>
      </form>
    </div>
  </div>
</div>

<!--REMOVE {{ gift.value | json }}
<br> {{ gift.get("naam").errors | json }}
<br> {{ gift.valid }} -->