<!--
<div class="lichaam">
  <div class="ui middle aligned container">
    <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
    <form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
      <h3 class="ui header">Login</h3>
      <div class="field">
        <label for="username">Gebruikersnaam:</label>
        <input type="text" id="username" formControlName='username'>
      </div>
      <div class="field">
        <label for="password">Wachtwoord:</label>
        <input type="password" id="password" formControlName='password'>
      </div>
      <button type='submit' [disabled]='!user.valid' class="ui positive right floated button" id='loginbtn'>log in</button>
    </form>
    <a class='item' routerLink="/register">Registreer</a>
  </div>
</div>
-->

<div class="lichaam">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1 class="ui teal image header">
        <img class="image" src="/assets/giftbox.png">
        <div class="content">Log in met je account</div>
      </h1>
      <form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon before"></i>
              <input name="email" placeholder="Gebruikersnaam" type="text" formControlName='username'>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon before"></i>
              <input name="password" placeholder="Wachtwoord" type="password" formControlName='password'>
            </div>
          </div>
          <div class="ui fluid large teal submit button after" id='loginbtn'>Log in</div>
        </div>
        <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
      </form>
      <div class="ui message">
        Nieuw op deze website?
        <a class='item' routerLink="/register">Registreer</a>
      </div>
    </div>
  </div>
</div>