<div class="ui container">
  <div class="ui segment">
      <div>
        <input type='text' placeholder='Zoek op naam...' #filter
        (keyup)='filterGift$.next($event.target.value)'>
      </div>
      <div class="ui basic segment">
        <div class="ui cards">
          <app-gift *ngFor='let lokaleGift of gifts | giftFilter: filterGiftName' 
            [gift]='lokaleGift'></app-gift>
        </div>
      </div>
  </div>
  <div class="ui basic segment">
    <app-voeg-gift-toe (nieuweGift)="nieuweGiftToegevoegd($event)"></app-voeg-gift-toe>
  </div>
</div>