.chatform{
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.lichaam {
  background-color: rgba(9, 156, 248, 0.7);
  min-height: 100%;
  padding-top: 5rem;
}

.lichaam > .grid {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .chatform {
      width: 90%;
  }

  .lichaam {
    padding-top: 1rem;
  }
}