<div class="ui card">
  <div class="content">
    <div class="header">
      <p>Geschenk met naam {{gift._naam}}</p>
    </div>
    <div class="meta">
      <p>Beschrijving: {{gift._beschrijving}}</p>
      <p>Prijs: &euro; {{gift._prijs}}</p>
    </div>
    <div class="description">
      <ul>
        <li *ngFor="let categorie of _categorieen">
          <app-categorie [naam]="categorie"></app-categorie>
        </li>
      </ul>
    </div>
    <div class="meta">
      <p>Aanmaakdatum: {{gift._aanmaakdatum | date: 'dd/MM/yyyy'}}</p>
      <p>Aantal likes: {{gift._likes}}</p>
    </div>
  </div>
</div>