<div class="ui fixed inverted pointing menu">
  <div class="ui container">
    <a class="item" routerLinkActive='active' routerLink="gift/list">
      <i class="gift icon"></i> Gifts</a>
    <a class="item" routerLinkActive='active' routerLink="gift/toevoegen">
      <i class="plus circle icon"></i> Gift toevoegen</a>

    <a *ngIf='(currentUser | async)' class="item right" routerLinkActive='active' routerLink="/logout">Welkom, {{currentUser|async}}</a>

    <div *ngIf='!(currentUser | async)' class="right menu">
      <a class="item" routerLinkActive='active' routerLink="/login">Log in</a>
      <a class="item" routerLinkActive='active' routerLink="/register">Registreer</a>
    </div>

  </div>
</div>