.ui.card {
    margin: 10px;
}

p {
    text-align: left;
}

.ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
    text-align: center;
    margin-bottom: 7px;
}