<div class="ui raised link card" routerLinkActive='active' routerLink="/gift/{{gift.id}}">
  <div class="content">
    <div class="header">
      <a routerLinkActive='active' routerLink="/gift/{{gift.id}}">{{gift.naam}}</a>
    </div>
    <div class="meta">
      <p class="right floated">{{gift.aanmaakdatum | date: 'dd/MM/yyyy'}}</p>
      <p>Prijs: &euro; {{gift.prijs}}</p>
      <p>{{gift.beschrijving}}</p>
      <button *ngIf='(currentUser && gift.eigenaar === currentUser)' class="right floated ui icon button" (click)="giftVerwijderen();$event.stopPropagation()">
        <i class="trash icon"></i>
      </button>
      <button *ngIf='(currentUser && gift.eigenaar !== currentUser && lietLikeAchter)' class="right floated red ui icon button" (click)="giftUnliken();$event.stopPropagation()" >
        <i class="heart icon"></i>
      </button>
      <button *ngIf='(currentUser && gift.eigenaar !== currentUser && !lietLikeAchter)' class="right floated ui icon button" (click)="giftLiken();$event.stopPropagation()" data-test="giftLikeBtn" >
        <i class="heart icon"></i>
      </button>
      <p>Aantal hartjes: {{gift.likes.length}}</p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      Toegevoegd door {{gift.eigenaar}}
    </div>
  </div>
</div>