<div class="ui raised link card" routerLinkActive='active' routerLink="/gift/{{gift._id}}">
  <div class="content">
    <div class="header">
      <a routerLinkActive='active' routerLink="/gift/{{gift._id}}">{{gift._naam}}</a>
    </div>
    <div class="meta">
      <p class="right floated">{{gift._aanmaakdatum | date: 'dd/MM/yyyy'}}</p>
      <p>Prijs: &euro; {{gift._prijs}}</p>
      <p>{{gift._beschrijving}}</p>
      <!--
      <button class="right floated ui icon button" (click)="giftVerwijderen()">
        <i class="trash icon"></i>
      </button>
      -->
      <button class="right floated ui icon button" (click)="giftLiken()">
        <i class="heart icon"></i>
      </button>
      <p>Aantal hartjes: {{gift._likes}}</p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      Toegevoegd door Bram De Coninck
    </div>
  </div>
</div>